<launch>
  <arg name="sim_time" default="-1"/>
  <arg name="config_path"
       default="$(find dv_acc_launch_control)/config/params.json"/>
  <arg name="print_config" default="false"/>

  <include file="$(find lem_simulator)/launch/acc_no_pp.launch">
    <arg name="sim_time" value="$(arg sim_time)"/>
  </include>

  <param name="/centerline_publisher/append_first_point_if_closed"
         value="false"/>

  <include file="$(find dv_acc_launch_control)/launch/dv_acc_launch_control.launch">
    <arg name="config_path" value="$(arg config_path)"/>
    <arg name="print_config" value="$(arg print_config)"/>
  </include>
</launch>
